/* main.css */
/* The general styling goes here */

#poster-list {
  margin-top: 62px;
}

#currently-watching {
  margin-top: 62px;
}

#footer-container {
  padding-top: 30px;
}

#footer-container footer {
  padding-bottom: 20px;
}

.hidden {
  display: none;
}